@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #18181B inset; /* This removes the light blue background */
  -webkit-text-fill-color: white; /* Keeps the text color as black */
  transition: background-color 5000s ease-in-out 0s;
}